# Configuración de la Base de Datos Postgres
POSTGRES_HOST=postgres
POSTGRES_DB=crypto_db
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contraseña_segura_aqui

# Configuración de Airflow (Si aplica)
AIRFLOW_IMAGE_NAME=apache/airflow:2.7.1
